a {
  color: #073c8b;
  text-decoration: none;
}

a:hover {
  color: #0d6efd;
  text-decoration: none;
}

.App {
  padding: 0;
}

.Header {
  border-bottom: 1px solid #ddd;
}

.Sidebar {
  width: 104px;
  position: fixed;
  top: 80px;
  align-self: flex-start;
  align-items: start;
  height: 100vh;
  border-right: 4px solid;
  padding: 12px;
}

.Sidebar .nav-item {
  width: 100%;
  margin: 4px;
}
.Sidebar .nav-link {
  background-color: #eee;

}
.Sidebar a {
  color: #444;
  border-radius: 4px;
  padding: 4px 6px;
}

.Sidebar a:hover {
  background-color: #44444427;
  border-radius: 4px;
  padding: 4px 6px;
}

.Sidebar a:visited {
  color: #444;
  border-radius: 4px;
  padding: 4px 6px;
}

.Sidebar .nav-item .active {
  background-color: #def;
}

.Content {
  margin: 24px 8px 0px 144px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 95vh; */
}

.Post {
  align-items: start;
  padding-top: 5px;
  border-bottom: 1px solid #eee;
}
.Car {
  align-items: center;
  padding-top: 5px;
  border-bottom: 1px solid #eee;
  justify-content: space-between;
}

.Car:hover, .Post:hover {
  background-color: #f8f8f8;
}

.Car a, .Post a {
  color: #14c;
  text-decoration: none;
}

.Car a:visited, .Post a:visited {
  color: #14c;
}

.ListCar,
.PageCar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
  /* align-items: center; */
}
.RepairCar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.FormNew {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.More {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}

.InputField {
  margin-top: 15px;
  margin-bottom: 15px;
}

.Sidebar a, .dropdown-item, .dropdown-item.active {
  color: #444;
}

.Sidebar .nav-item .active, .dropdown-item.active {
  background-color: #def;
}

.Write {
  margin-bottom: 10px;
  padding: 30px 0px 40px 0px;
  border-bottom: 1px solid #eee;
}

.Write form {
  width: 100%;
}

.Auth {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 26px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 440px;
}

.AuthContent {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AuthForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 }
 

